@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
  color:#FC8019;
}

.active .svg-class{
  stroke: #FC8019;
	stroke-width: 0;
	fill: #FC8019;
}

::-webkit-scrollbar{
  border-radius: 20px;
  height: 0px;
}
::-webkit-scrollbar-track{
  background-color: #CFD8DC;
}
::-webkit-scrollbar-thumb{
  background-color: #90A4AE;
  border-radius: 30px; 
}