@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #fc8019;
}

.active .svg-class {
  stroke: #fc8019;
  stroke-width: 0;
  fill: #fc8019;
}

::-webkit-scrollbar {
  border-radius: 20px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: #cfd8dc;
}
::-webkit-scrollbar-thumb {
  background-color: #90a4ae;
  border-radius: 30px;
}
.modal .ant-modal-close {
  display: none;
}
.saurabh .ant-drawer-header {
  border-bottom: none !important;
}
